@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Montserrat', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@layer utilities {
  .font-allura {
    font-family: 'Allura', cursive;
  }
}
