@import 'tailwindcss';
@import '@fontsource/montserrat/300.css';
@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/500.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/700.css';
@import '@fontsource/montserrat/800.css';
@import '@fontsource/montserrat/900.css';
@import '@fontsource/allura/400.css';

@layer base {
  body {
    font-family: 'Montserrat', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@layer utilities {
  .font-allura {
    font-family: 'Allura', cursive;
  }
}
